/* HeaderFooter.css */
@import './theme.css';

header {
    background-color: var(--btn-backgound-light);
    color: var(--text-dark);
    font-family: var(--main-font);
    text-transform: uppercase;
    padding: 20px 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    color: var(--text-dark);
    margin-left: 15px;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 15px 0;
    color: #6c757d;
  }
  
  footer p {
    margin: 0;
  }
  
  .logo-image-small{
    display: block;
    image-rendering: pixelated;
    border: 20px;
    border-color: white;
    width: 202px; 
    height: 90px;
  }