/* HeaderFooter.css */
@import './theme.css';

header {
    background-color: var(--btn-backgound-light);
    color: var(--text-dark);
    font-family: var(--main-font);
    text-transform: uppercase;
    padding: 20px 20px;
    position:fixed;
    top:0px;
    width: 100%;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    color: var(--text-dark);
    margin-left: 15px;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #f8f9fa;
    position:fixed;
    text-align: center;
    padding: 15px 0;
    color: #6c757d;
    bottom:0px;
    width:100%;
  }
  
  footer p {
    margin: 0;
  }
  
  .logo-image-small{
    display: block;
    image-rendering: pixelated;
    border: 20px;
    border-color: white;
    width: 202px; 
    height: 90px;
  }

  /* Style the button to match the links in the header */
.nav-link-button {
  background: none; /* Removes the button background */
  border: none; /* Removes the button border */
  color: var(--text-dark); /* Match the link text color */
  margin-left: 15px; /* Match spacing with links */
  font-weight: bold; /* Match link font weight */
  text-transform: uppercase; /* Match text case with links */
  font-family: var(--main-font); /* Use the same font as links */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
}

.nav-link-button:hover {
  text-decoration: underline; /* Add underline on hover like links */
}
