/* Home.css */
@import './theme.css'; 

  .home-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin-top: 75px; 
    /*for a border*/
    /* border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px; */
  }
  .home-container[data-theme='lightHome'] {
    background-color: white;
    color: black;
  }
  
  .home-container[data-theme='darkHome'] {
    background-color: black;
    color: white;
  }
  .home-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .logo-image {
    display: block;
    image-rendering: pixelated;
    width: 40vw; /* Make the width dynamic based on the viewport width */
    height: auto; /* Automatically calculate height to maintain aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed the container size */
    max-height: 100%; /* Optional: Restrict height to the container */
}


  .home-container-buttons{
    display: flex;
    flex-direction: row; 
    gap: 0.1rem; 
  }

  /* 
  .create-post-btn {
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 2px;
    background-color: black;
    color: #fff;
    font-family: "JetBrains Mono",monospace;
    text-transform: uppercase;
    box-shadow: 0 0 0 3px #000000 inset;
    height: 42px;
    line-height: 100%; 
    margin-bottom: 1rem; 
  }
  
  .create-post-btn:hover {
    color: black;
    background-color: #fff;
  }
 */
  