:root {
    --primary-color: #007bff;
    --background-light: white;
    --background-dark: black;
    --text-light: black;
    --text-dark: white;
    --btn-backgound-light: black;
    --btn-background-dark: white; 
    --btn-text-light: white;
    --btn-text-dark: black;
    --main-font: "JetBrains Mono",monospace;
    --btn-shadow-light: 0 0 0 3px black inset;
    --btn-shadow-dark: 0 0 0 3px white inset;
  }
  
  [data-theme='light'] {
    background-color: var(--background-light);
    color: var(--text-dark);
  }
  
  [data-theme='dark'] {
    background-color: var(--background-dark);
    color: var(--text-light);
  }

  [data-theme = 'btnlight']{
    background-color: var(--btn-backgound-light);
    color: var(--btn-text-light);
    box-shadow: var(--btn-shadow-light);
  }

  [data-theme = 'btndark']{
    background-color: var(--btn-backgound-dark);
    color: var(--btn-text-dark);
    box-shadow: var(--btn-shadow-dark);
  }

  .main-btn {
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 2px;
    font-family: var(--main-font);
    text-transform: uppercase;
    height: 42px;
    line-height: 100%; 
    margin-bottom: 1rem; 
  }

  [data-theme = 'btnlight'].main-btn:hover {
    color: var(--btn-text-dark);
    background-color: var(--btn-shadow-light);
  }

  [data-theme = 'btndark'].main-btn:hover {
    color: var(--btn-text-light);
    background-color: var(--btn-backgound-light);
  }
  